<div class="panel panel-default ad-item" ng-init="is_author=data.owner_id == viewer.id">
  <div class="panel-heading">
    <div class="pull-left">
      <h4 class="category-label text-color-{{data.category_data.style}}">
         <span class="ion-{{data.category_data.icon}}"></span>
      </h4>
    </div>
    <div class="title pull-left">
      <h5>{{data.title ? data.title : "Объявление через сообщество"}} </h5>
    </div>
    <div class="pull-right " ng-show="is_author || viewer.moderation">
        <span ng-click="edit(data)" 
          tooltip="Редактировать" tooltip-placement="top" tooltip-trigger="mouseenter" 
          class="btn-icon btn-icon-cyan">
          <span class="ion-ios-compose-outline"></span>
        </span>
        
        <span ng-click="remove()" 
          tooltip="Удалить" tooltip-placement="top" tooltip-trigger="mouseenter" 
          class="btn-icon btn-icon-purple">
          <span class="ion-android-close"></span>
        </span>
    </div>
  </div>
  <div class="panel-body">
     <div class="tags-container">
       <span class="tag" ng-repeat="tag in data.tags"><span class="ion-pound"></span> {{tag}}</span>
    </div>
    <span class="pre-text text">{{data.text}}</span>
  <p><a href="//vk.com/wall{{data.source}}" target="blank_" ng-show="data.source">Перейти к записи</a></p>
  </div>
  <div class="panel-footer">
      <a class="media-left pull-left" target="_blank" ng-href="//vk.com/id{{data.profile.id}}">
       <img class="img-circle author-avatar" ng-src="{{data.profile.photo_100}}"  />
      </a>
      <h6 class="media-heading author-name"><a ng-href="//vk.com/id{{data.profile.id}}" target="_blank">{{data.profile.first_name}} {{data.profile.last_name}}</a></h6>
    <div class="pull-right actions">
       <span ng-click="fave()" tooltip="{{data.is_fave ? 'Убрать из закладок' : 'Добавить в закладки'}}" tooltip-placement="top" tooltip-trigger="mouseenter" 
        class="btn-icon btn-icon-red">
        <span class="ion-android-favorite{{data.is_fave ? '' : '-outline'}}"></span>
      </span>
      <span ng-click="share()" tooltip="Рассказать друзьям" tooltip-placement="top" tooltip-trigger="mouseenter" 
        class="btn-icon btn-icon-blue">
        <span class="ion-android-share-alt"></span>
      </span>
    </div>
  </div>
</div>