body { 
  background-color: #F7F7F7;
}
input, input[type="password"], input[type="search"] {
   cursor: auto;
   border:none;
   -webkit-appearance: none;
   background: #fff;
}
.header-container{
  background-color: #f0f2f5;
  height: 90px; 
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  margin-bottom: 15px;
}
.menu-container{
  min-width: 640px;
  margin: 10px;
}
.header span{
  float: right;
  margin: 10px 10px;
  font-size: 12px;
}
.header span a{
  text-decoration: none;
}
.pre-text{
    white-space: pre-wrap;
}
.dropdown-menu>li>a {
  padding: 5px 8px;
}
.modal-dialog{
  margin: 80px;
}
.wrap{
	display: block;
	margin: 0 auto;
}
.center{
  text-align: center;
}
.panel.ad-item{
   border: none;
   border-radius: 5px;
}
.panel.ad-item h5{
  margin-left: 10px;
  max-width: 600px;
}
.panel .panel-heading{
  height: 50px;
  background-color: #fff;
  border-bottom: none;
  border-radius: 5px;
}
.ad-item .title{
  max-width: 470px;
  overflow: hidden;
  height: 30px;
}
.ad-item .text{
  font-size: 13px;
}
.ad-item .category-label{
  width: 35px;
  height: 35px;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  padding: 7px;
  margin-top: 2px;
  margin-left: -3px;
  margin-right: 5px;
  background-color: #f0f2f5;
}
.panel .panel-body{
    font-size: 12px;
}
.panel .panel-footer{
  border-top: none;
  padding: 8px 10px;
  min-height: 65px;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 5px;
}
.ad-item .actions{
  padding: 8px;
}

.list-group a{
    padding: 5px 7px;
}
.list-group-item .label{
  float:right;
}
.author-name{
  font-size: 15px;
  margin-top: 15px;
  float: left;
}
.author-avatar{
  height: 50px;
  width: 50px;
  margin-right: 3px;
  border: 3px solid #ECEFF1;
}

.btn-menu-item{
  border-radius: 3px;
  margin: 4px;
  width: 202px;
  padding: 0px;
  border: none;
  border-left: 7px solid #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-menu-item:hover{
  cursor:pointer;
  border:none;
  border-left: 7px solid #f0f2f5;
}
.btn-menu-item.selected{
  border:none;
  border-left: 7px solid;
}
.btn-menu-item.selected.selector-green{
  border-left-color: #4CAF50;
}
.btn-menu-item.selected.selector-blue{
  border-left-color: #3F51B5;
}
.btn-menu-item.selected.selector-yellow{
  border-left-color: #FFEB3B;
}
.btn-menu-item.selected.selector-purple{
  border-left-color: #673AB7;
}
.btn-menu-item.selected.selector-red{
  border-left-color: #F44336;
}
.btn-menu-item.selected.selector-cyan{
  border-left-color: #00BCD4;
}
.btn-menu-item.selected.selector-orange{
  border-left-color: #FF9800;
}

.btn-menu-item.big{
  background-color: white;
  height: 90px;
}
.btn-menu-item.medium{
  background-color: white;
  height: 50px;
}
.btn-menu-item.big p{
  margin-top: 10px;
  font-size: 40px;
  font-weight: lighter;
}
.btn-menu-item.medium p{
  margin-top: 5px;
  font-size: 25px;
  font-weight: lighter;
}

.form-search{
  width: 410px;
  display: inline-block;
  margin-right: 4px;
}
.form-search input{
  border-radius: 3px;
  background-color: #E8EAF6;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #3F51B5;
  background-image: none;
}
.form-search input:focus{
  border: none;
  background-color: #fff;
}

.form-create{
  width: 200px;
  display: inline-block;
}

.ads-content{
  min-height: 300px;
  margin-top: 15px;
}

.text-color-green{
  color: #4CAF50;
}
.text-color-blue{
  color: #3F51B5;
}
.text-color-yellow{
  color: #FFEB3B;
}
.text-color-purple{
  color: #673AB7;
}
.text-color-red{
  color: #F44336;
}
.text-color-cyan{
  color: #00BCD4;
}
.text-color-orange{
  color: #FF9800;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover{
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


.ad-item.editor .title{
  width: 500px;
  font-size: 15px;
  font-weight: lighter;
}
.ad-item.editor .category-label:hover{
  cursor: pointer;
}
.ad-item.editor .text{
  border: none;
  resize: none;
  width: 100%;
  overflow: hidden;
  margin-left: -15px;
  min-height: 150px;
}
.ad-item.editor .btn-save{
  margin-top: 12px;
  margin-right: 5px;
}

.btn-light{
  border: none;
  color: #fff;
  background-color:#8C9EFF;
  border-radius: 3px;
  font-size: 13px;
  max-height: 34px;
}
.btn-light:hover{
   color: #fff;
   background-color: #7986CB;
}
.btn-light:focus{
   color: #fff;
   background-color:#8C9EFF;
}
.btn-icon{
  padding: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
}
.btn-icon.btn-icon-circle{
  border: 1px solid;
  border-radius: 15px;
  color: #fff;
}
.btn-icon-cyan{
  color: #00BCD4;
}
.btn-icon-blue{
  color: #3F51B5;
}
.btn-icon-green{
  color: #4CAF50;
}
.btn-icon-yellow{
  color: #FFEB3B;
}
.btn-icon-red{
  color: #F44336;
}
.btn-icon-purple{
  color: #673AB7;
}
.btn-icon-blue.btn-icon-circle{
  background-color: #3F51B5;
  border-color: #3F51B5; 
}
.btn-icon-green.btn-icon-circle{
  background-color: #4CAF50;
  border-color: #4CAF50; 
}
.btn-icon.btn-circle:hover{
  color: #fff;
}
.btn-icon:hover{
  cursor: pointer;
}
.btn-icon span{
  font-size: 25px;
  vertical-align: middle;
}

.image-upload{
  background-color: #E8EAF6;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  min-height: 150px;  
}
.image-upload span{
  font-size: 75px;
  color: #fff;
}
.image-upload a{
  font-size: 13px;
}

.tags-container{
  margin-bottom: 5px;
}
.tag{
  margin: 2px;
  font-size: 11px;
  display: inline-block;
  background: #E8EAF6;
  padding: 3px;
  border-radius: 3px;
  color:#3F51B5;
}
.tag:hover{
  cursor: pointer;
}

.copyright{
  margin-bottom: 5px;
  margin-top: 10px;
}
.copyright p{
  margin-bottom: 0px;
}
.copyright .github-link a{
  font-weight: lighter;
  font-size: 12px;
  text-decoration: none;
}
.copyright .github-link a span{
  font-size: 17px;
}
.copyright .group-link a{
  font-size: 13px;
  text-decoration: none;
  font-weight: lighter;
}
.copyright .title {
  font-weight: lighter;
  font-size: 13px;
}