<div class="header-container">
    <div class="col-xs-12 header">
    	<h4 style="float:left" >{{current.title}}</h4>
        <span><a class="text-center text-primary" target="_blank" href="//l33t.azurewebsites.net/snfr.php?vk_id={{user.id}}&ref=app3981889">Отзыв или предложение</a></span>
        <span ng-show="user.is_admin && !user.moderation"><a class="text-center text-success" target="_blank" href="" ng-click="moderation(true)">Модерирование</a></span>
        <span ng-show="user.is_admin && user.moderation"><a class="text-center text-warning" target="_blank" href="" ng-click="moderation(false)">Обычный режим</a></span>
    </div>
    <div class="col-xs-12 ">
        <div class="form-group form-search">
    	    <input type="text" ng-model="search.$" type="text" class="" placeholder="Поиск в категории '{{current.title}}'">
    	</div>
        <div class="form-group form-create">
    		<a href="" ng-click="create()" class="btn btn-light btn-block btn-sm">
                <span class="ion-android-create"></span> 
                Добавить объявление</a>
    	</div>
    </div>
</div>
<div class="col-xs-12">
     <module-ad-editor data="editor.data" close="editor.close" categories="categories" tags="tags" save="editor.save" ng-show="editor.opened"></module-ad-editor>
    <alert type="info" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span>Приложение находится на доработке, некоторые функции могут быть недоступны. Пока объявление можно добавить через <a href="https://vk.com/sevnotice" target="_blank">сообщество</a> и оно будет автоматически импортировано в приложение.</span>
    </alert>
</div>
<div class="menu-container">
    <div ng-repeat="item in sections" ng-click="selectSection(sections[$index])" class="btn-menu-item selector-{{item.style}} {{item.size}} col-xs-3 {{item.id == current.id ? 'selected' : ''}}">
       <p class="text-color-{{item.style}}">
        <span class="ion-{{item.icon}}"></span>
        {{item.title}}</p>
    </div>
</div>
<div class="col-xs-12 resizable-content ads-content" >
    <alert type="success" ng-show="user.menu===false" close="user.menu=true" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span>Вы можете добавить приложение в меню слева, для быстрого доступа</span>
      <a href="" ng-click="menu_add()">Добавить</a>
    </alert>
    <p class="text-center" ng-show="!ads.length">Загрузка ...</p>
	<p class="text-center" ng-show="ads.length && (current.items | filter:search).length == 0">Ничего не найдено</p>
	<module-ad ng-repeat="item in current.items | filter:search | limitTo:loaded" data="item" onfave="fave_callback" onremove="on_remove" edit="edit"></module-ad>
</div>
<script type="text/ng-template" id="create">
    <div class="modal-header">
        <h4 class="modal-title">Создание объявления </h4>
    </div>
    <div class="modal-body row">
        <module-ad-editor data="ad"></module-ad-editor>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" ng-click="ok()">Создать</button>
        <button class="btn btn-sm btn-default" ng-click="cancel()">Отмена</button>
    </div>
</script>
<script type="text/ng-template" id="edit">
    <div class="modal-header">
        <h4 class="modal-title">Редактирование объявления </h4>
    </div>
    <div class="modal-body row">
        <module-ad-editor data="ad"></module-ad-editor>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" ng-click="ok()">Сохранить</button>
        <button class="btn btn-sm btn-default" ng-click="cancel()">Отмена</button>
    </div>
</script>
