<div class="col-xs-12 header">
	<h4 style="float:left" >{{current.title}}</h4>
    <span><a class="text-center text-primary" target="_blank" href="//l33t.azurewebsites.net/snfr.php?vk_id={{user.id}}&ref=app3981889">Предложить идею</a></span>
    <span ng-show="user.is_admin && !user.moderation"><a class="text-center text-success" target="_blank" href="" ng-click="moderation(true)">Модерирование</a></span>
    <span ng-show="user.is_admin && user.moderation"><a class="text-center text-warning" target="_blank" href="" ng-click="moderation(false)">Обычный режим</a></span>
</div>
<div class="col-xs-8 resizable-content" >
	<div class="form-group">
	    <input ng-model="search.$" type="text" class="form-control" placeholder="Поиск в категории '{{current.title}}'">
	</div>
    <alert type="success" ng-show="user.menu===false" close="user.menu=true" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span>Вы можете добавить приложение в меню слева, для быстрого доступа</span>
      <a href="" ng-click="menu_add()">Добавить</a>
    </alert>
    <p class="text-center" ng-show="!ads.length">Загрузка ...</p>
	<p class="text-center" ng-show="ads.length && (current.items | filter:search).length == 0">Ничего не найдено</p>
	<module-ad ng-repeat="item in current.items | filter:search" data="item" onfave="fave_callback" onremove="on_remove" edit="edit"></module-ad>
</div>
<div class="col-xs-4">
	<div class="form-group">
		<a href="" ng-click="box_open('create')" class="btn btn-primary btn-block btn-sm">Добавить объявление</a>
	</div>
	<ul class="list-group">
		<a ng-repeat="section in sections" href="" ng-click="selectCat(section)" class="list-group-item">
		     <span class="text-{{section.style}} glyphicon glyphicon-{{section.icon}}"></span>
			 <b>{{section.title}}</b>
		    <span class="label label-primary">{{section.items.length}}</span>
	    </a>
	</ul>
	<ul class="list-group">
	  <a ng-repeat="c in cats" href="" ng-click="selectCat(c)" class="list-group-item">
		<span class="label label-primary">{{c.items.length}}</span>
		{{c.title}}
	  </a>
	</ul>
</div>
<script type="text/ng-template" id="create">
    <div class="modal-header">
        <h4 class="modal-title">Создание объявления </h4>
    </div>
    <div class="modal-body row">
        <module-ad-editor data="ad"></module-ad-editor>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" ng-click="ok()">Создать</button>
        <button class="btn btn-sm btn-default" ng-click="cancel()">Отмена</button>
    </div>
</script>
<script type="text/ng-template" id="edit">
    <div class="modal-header">
        <h4 class="modal-title">Редактирование объявления </h4>
    </div>
    <div class="modal-body row">
        <module-ad-editor data="ad"></module-ad-editor>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" ng-click="ok()">Сохранить</button>
        <button class="btn btn-sm btn-default" ng-click="cancel()">Отмена</button>
    </div>
</script>
