<div class="header-container">
    <div class="col-xs-12 header">
    	<h4 style="float:left" >{{current.title}}</h4>
        <span><a class="text-center text-primary" target="_blank" href="//l33t.azurewebsites.net/snfr.php?vk_id={{user.id}}&ref=app3981889">Отзыв или предложение</a></span>
        <span ng-show="user.is_admin && !user.moderation"><a class="text-center text-success" target="_blank" href="" ng-click="moderation(true)">Модерирование</a></span>
        <span ng-show="user.is_admin && user.moderation"><a class="text-center text-warning" target="_blank" href="" ng-click="moderation(false)">Обычный режим</a></span>
    </div>
    <div class="col-xs-12 ">
        <div class="form-group form-search">
    	    <input type="text" ng-model="search.$" type="text" class="" placeholder="Поиск в категории '{{current.title}}'">
    	</div>
        <div class="form-group form-create">
    		<a href="" ng-click="create()" class="btn btn-light btn-block btn-sm">
                <span class="ion-android-create"></span> 
                Добавить объявление</a>
    	</div>
    </div>
</div>
<div class="col-xs-12">
     <module-ad-editor data="editor.data" close="editor.close" categories="categories" tags="tags" save="editor.save" ng-show="editor.opened && !editor.edit"></module-ad-editor>
    <!--<alert type="info" role="alert" ng-init="opened = true" ng-show="opened" close="opened=false">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span>Приложение находится на доработке, некоторые функции могут быть недоступны.</span>
    </alert> -->
    <alert type="success" ng-show="user.menu===false" close="user.menu=true" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span>Вы можете добавить приложение в меню слева, для быстрого доступа</span>
      <a href="" ng-click="menu_add()">Добавить</a>
    </alert>
</div>
<div class="menu-container">
    <div ng-repeat="item in sections" ng-click="selectSection(sections[$index])" class="btn-menu-item selector-{{item.style}} {{item.size}} col-xs-3 {{item.id == current.id ? 'selected' : ''}}">
       <p class="text-color-{{item.style}}">
        <span class="ion-{{item.icon}}"></span>
        {{item.title}}</p>
    </div>
</div>
<div class="col-xs-12 ads-content" >
    <p class="text-center loading" ng-show="!ads.length && !current.items.length">Загрузка ...</p>
     <p class="text-center loading" ng-show="!ads.length && current.items.length">Обновление ...</p>
	<p class="text-center text-color-blue text-light" ng-show="ads.length && (current.items | filter:search).length == 0">Ничего не найдено</span></p>
	<div ng-repeat="item in current.items | filter:search | limitTo:loaded">
        <module-ad 
            ng-hide="editor.opened && editor.data.id === item.id"
            data="item" 
            onfave="fave_callback" 
            onremove="on_remove" 
            edit="editor.open">
        </module-ad>
        <module-ad-editor 
            ng-show="editor.opened && editor.data.id === item.id"
            data="item"
            close="editor.close"
            categories="categories"
            tags="tags"
            save="editor.save">
        </module-ad-editor>
    </div>    
</div>